<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add New Plant</title>
</head>
<body>
    <p><a href="{{ url_for('test') }}">Test Chamber</a> </p>
    <p><a href="{{ url_for('my_plants') }}">My Plants</a> </p>
    <p><a href="{{ url_for('add_plant') }}">Add new plant </a> to your collection</p>
    <p><a href="{{ url_for('list_requirements') }}">Plant Requirements Database</a> </p>
    <p><a href="{{ url_for('add_req_plant') }}">Add new plant type</a> to your requirements database</p>
</body>
</html>