<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Plant Requirements</title>
</head>
<body>

    <table>
            <tr>
                {% for item in columns %}
                <td> {{ item[1] }} </td>
                {% endfor %}
            </tr>
            {% for row in rows %}
                <tr>
                    {% for item in row %}
                    <td> {{ item }} </td>
                    {% endfor %}
                    <td><a href="">Edit</a></td>
                </tr>
            {% endfor %}
    </table>

    <p><a href="{{ url_for('add_plant') }}">Add new plant </a> to your collection</p>
    <p><a href="{{ url_for('add_req_plant') }}">Add new plant type</a> to your requirements database</p>
</body>
</html>