{% extends "base.html" %}
{% set active_page = "resources" %}

{% block content %}

<div class="container-fluid">

    <h4 class="py-3 text-secondary">Add new plant species to requirements database</h4>

    <form action="" method="post" autocomplete="off">
        {% for field in form if (field.name != 'csrf_token') and (field.name != 'submit') %}
        <div class="form row">
            <div class="col-2"><label class="form-label"> {{ field.label() }} </label></div>
            <div class="col-4"> {{field(class="form-control") }} </div>
        </div>
        {% endfor %}
        <div class="row">
            <div class="col-sm">{{ form.submit(class="btn btn-primary") }}</div>
        </div>
    </form>
</div>

{% endblock %}